<!DOCTYPE html>
<html>
<head>
    <title>ECE Authentication</title>
    <link rel="stylesheet" href= "{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" type="text/css" />
</head>

<body style="text-align: center">
    <div style="width:100%;border-bottom-style:solid;border-width:1px;margin-bottom:30px;border-color:grey">
        <h1> ECE Authentication</h1>
    </div>

    {% block body %}
    {% endblock %}

</body>



</html>